<!DOCTYPE html>
<html>
  <!-- Header Section-->
  <%= render "header.html", assigns  %>
  <!-- End Header Section -->

  <body>
    <!-- General Container -->
    <div class="container-fluid">
      <!-- Render the navbar -->
      <%= render"navbar.html", assigns %>

      <!-- Render the information -->
      <%= render @view_module, @view_template, assigns %>

      <!-- Render the footer section -->
      <div class="row" style="background-color: #282828;">
        <div class="col-xs-12" style="padding: 0 !important;">
          <%= render "footer.html", assigns %>
        </div>
      </div>

    </div>
    <!-- End General Container -->

    <!-- Loading Js -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
